body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Poppins;
}

.wrapper {
    display: flex;
    height: fit-content;
    width: fit-content;
    border: solid 2px black;
    padding: 10px;
    justify-content: center;
    background-color: #F5EFE6;
    align-self: center;
}

.display{
    height: 100px;
    width: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 5px;
    background-color: #7895B2;
    border: solid 2px black;
    border-radius: 5px;
    color: aliceblue;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

#history {
    flex: 0 1 auto;
    font-size: 1em;
}

#display {
    font-size: 2em;
    font-size: 0 2 auto;
}

.keys-grid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.num, .num-dec {
    height: 50px;
    width: auto;
    font-size: 24px;
    background-color: #e8dfca;
    border: solid 2px #695d43;
    border-radius: 5px;
}

#zero {
    grid-column-start: span 2;
    /* grid-column-end: 4; */
    /* grid-column: span 2 / 3; */
}

.key-op{
    height: 50px;
    width: 70px;
    font-size: 24px;
    background-color: #AEBDCA;
    border: solid 2px #4f5f6e;
    color: black;
    border-radius: 5px;
}

